<%- include("partials/header.ejs") %>
<script>
    function confirmDeletion() {
        // Show a confirmation dialog
        const userConfirmed = confirm("Are you sure you want to delete this book?");
        
        // If the user clicked "OK," submit the form
        if (userConfirmed) {
            document.getElementById("deleteForm").submit();
        }
        // If the user clicked "Cancel," do nothing (form will not be submitted)
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-2">
            <a href="/edit/<%= searchedBooks.title %>" class="btn btn-primary">Edit</a>
            <form id="deleteForm" action="/delete/<%= searchedBooks.title %>" method="POST" style="display:inline;">
                <button type="button" onclick="confirmDeletion()" class="btn btn-danger">Delete</button>
            </form>            
        </div>
        <div class="col-8">
        <section>
            <hr>
            <div>
                <div class="row align-items-start">
                    <div class="white mb-4">  
                            <a href="/details">
                                <img src="https://covers.openlibrary.org/b/id/<%= searchedBooks.cover_id %>-M.jpg"  class=" book_cover  me-4" width="250" height="300" alt="<%= searchedBooks.title %>">
                                <p>Title: <%= searchedBooks.title %> : By <%= searchedBooks.authors_name %></p>
                            </a>
                            <p></p>
                            <p>Pages: <%= searchedBooks.pages %></p>
                            <p>Date: <%= searchedBooks.finished_date ? searchedBooks.finished_date : 'N/A' %></p>
                            <p>recommendation: <%= searchedBooks.rating ? searchedBooks.rating : 'N/A' %></p>
                            <p class="justify"><strong>Summary:</strong> <br> <%= searchedBooks.summary ? searchedBooks.summary : 'No description available.' %></p>
                    </div>  
                    <div class="white">
                        <p class="justify"><strong>My Notes:</strong> <br> <%- searchedBooks.notes ? searchedBooks.notes : 'No description available.' %></p>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <div class="col-2"></div>
    </div>
</div>


<%- include("partials/footer.ejs") %>